{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": -25.69676147779302,
        "longitude": 28.192634582519535,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Africa/Johannesburg",
        "external_url": null,
        "internal_url": null,
        "currency": "ZAR"
    }
}